		<div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="">Home</a> <i class="icons icon-right-dir"></i></p>
                    </div>
                </div>
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
					
					<section class="slider">
						<div class="tp-banner-container">
							<div class="tp-banner" >
				
				

  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active image">
        <img  src="img/slide3.jpg">
      </div>

      <div class="item image">
        <img src="img/tabele5.jpg">
      </div>
    
      <div class="item image">
        <img src="img/TABLE6.jpg">
      </div>

      <div class="item image">
        <img src="img/slide2.jpg">
      </div>
slide2

    <!-- Left and right controls
    <a class="left carousel-control" href="" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>
							</div>
						</div>
				  	</section>
					
					
					
					<!-- Featured Products -->
					<div class="products-row row" ng-init="showAllCategories()" >	
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12" >

							<div  data-max-items="3" ng-repeat="category in categories ">
										<!-- Carousel Item -->
									<div class="product col-md-4"  ng-click="goToSubCtegory(category)">
											
											<div class="product-image">
												<img src="img/products/sample1.jpg" alt="Product1">
											</div>											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">{{ category }}
														<span class="action-name"></span>
													</span >
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->

									<!-- /Slide -->
									</div>
								</div>
							</div>
						
				</section>
				<!-- /Main Content -->