<section class="main-content col-lg-9 col-md-9 col-sm-9" ng-controller="cartCtrl" ng-show="empty">
    <div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i>צור קשר</p>

                         <p>><h1>מי אנחנו?</h1>
                                חברת plastic-tableware נוסדה   2017
                         החברה מתמחה ביבוא, שווק והפצת מוצרים לאריזה ולשימוש חד-פעמי ובציוד משקי על כל גווניו. 
                         <br>
                         חברת plastic-tableware נכנסה לתחום לאחרונה וצברה תאוצה בצורה מפתיעה!  
                         </p>


                        <p><h1>מי הם לקוחותינו?</h1>
                           חברת plastic-tableware  משווקת מוצרים לאריזה, כלים חד פעמיים, מתכלים וציוד משקי לכל מגזרי המשק באמצעות פעילותה בחברות. 

                            חברת plastic-tableware עסקים - משווקת לשוק המוסדי  המקצועי : תעשייה מוסדות, בתי מלון, משרדי  ממשלה, ומסעדות ברחבי הארץ.
                        </p>



                         <p>
                       <h1>מה יש לנו להציע?</h1>
                        מגוון המוצרים אותו משווקת plastic-tableware הינו רחב ביותר, תוך הקפדה על מתן פתרון מלא לכל צרכי 
                        הלקוח בתחום הציוד המשקי. 
                       לחברה הפתרונות המקצועיים החדשניים והטובים של מיטב היצרנים בארץ ובעולם.
                       <br>
                      <b>חשוב לציין ש plastic-tableware משבקים רק מוצרים באיחות גבוה ומעלה!</b> 
                       </p>

                      <p><h1>מבט לעתיד</h1>
                         בעידן של שינויים מתמידים ומבט למאה החדש נמצאת חברת plastic-tableware  בחזית החידושים, 
                         ומביאה ללקוחותיה את החידושים האחרונים בתחומה.</p>

                    </div>
                </div>
                
		</div>
		</section>		 