                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i> Order Info</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading">
                                <h4>Order Information</h4>
                                <div class="carousel-arrows">
									<a href="#"><i class="icons icon-reply"></i></a>
								</div>
                            </div>
                            
                            <table class="orderinfo-table">
                            	
                                <tr>
                                	<th>Order number</th>
                                    <td>21512512</td>
                                </tr> 
                                
                                <tr>
                                	<th>Order date</th>
                                    <td>2013-07-12</td>
                                </tr>
                                
                                <tr>
                                	<th>Order status</th>
                                    <td>Confirmed by shopper</td>
                                </tr>
                                
                                <tr>
                                	<th>Last updated</th>
                                    <td>2013-07-12</td>
                                </tr>
                                
                                <tr>
                                	<th>Shipment</th>
                                    <td>--</td>
                                </tr>
                                
                                <tr>
                                	<th>Comment</th>
                                    <td>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </td>
                                </tr>
                                
								<tr>
                                	<th>Payment</th>
                                    <td>PayPal</td>
                                </tr>
								
                                <tr>
                                	<th>Total</th>
                                    <td><span class="price">$281.00</span></td>
                                </tr>                    
                                
                            </table>
                            
                        </div>
                        
                    </div>
                    
                    <div class="row">
                    	
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading">
                                <h4>Bill to</h4>
                            </div>
                            
                            <table class="orderinfo-table">
                            	
                                <tr>
                                	<th>Email</th>
                                    <td>info@companyname.com</td>
                                </tr> 
                                
                                <tr>
                                	<th>Company name</th>
                                    <td>company name</td>
                                </tr>
                                
                                <tr>
                                	<th>Title</th>
                                    <td>Mr</td>
                                </tr>
                                
                                <tr>
                                	<th>First name</th>
                                    <td>John</td>
                                </tr>
                                
                                <tr>
                                	<th>Middle name</th>
                                    <td>Allan</td>
                                </tr>
                                
                                <tr>
                                	<th>Last name</th>
                                    <td>Doe</td>
                                </tr>
                                
                                <tr>
                                	<th>Address 1</th>
                                    <td>Marmora Road, 45</td>
                                </tr>  
                                
                                <tr>
                                	<th>ZIP / Postal code</th>
                                    <td>8901</td>
                                </tr> 
                                
                                <tr>
                                	<th>City</th>
                                    <td>London</td>
                                </tr> 
                                
                                <tr>
                                	<th>Country</th>
                                    <td>Great Britain</td>
                                </tr> 
                                
                                <tr>
                                	<th>State / Province / Region</th>
                                    <td>-</td>
                                </tr> 
                                
                                <tr>
                                	<th>Phone</th>
                                    <td>555-555-555</td>
                                </tr>                   
                                
                            </table>
                            
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading">
                                <h4>Ship to</h4>
                            </div>
                            
                            <table class="orderinfo-table">
                                
                                <tr>
                                	<th>Company name</th>
                                    <td>company name</td>
                                </tr>
                                
                                <tr>
                                	<th>First name</th>
                                    <td>John</td>
                                </tr>
                                
                                <tr>
                                	<th>Middle name</th>
                                    <td>Allan</td>
                                </tr>
                                
                                <tr>
                                	<th>Last name</th>
                                    <td>Doe</td>
                                </tr>
                                
                                <tr>
                                	<th>Address 1</th>
                                    <td>Marmora Road, 45</td>
                                </tr>  
                                
                                <tr>
                                	<th>ZIP / Postal code</th>
                                    <td>8901</td>
                                </tr> 
                                
                                <tr>
                                	<th>City</th>
                                    <td>London</td>
                                </tr> 
                                
                                <tr>
                                	<th>Country</th>
                                    <td>Great Britain</td>
                                </tr> 
                                
                                <tr>
                                	<th>State / Province / Region</th>
                                    <td>-</td>
                                </tr> 
                                
                                <tr>
                                	<th>Phone</th>
                                    <td>555-555-555</td>
                                </tr>                   
                                
                            </table>
                            
                        </div>
                        
                         <div class="col-lg-12 col-md-12 col-sm-12">
							
							
							<div class="tabs">
                            
                                <div class="tab-heading margin-heading">
                                    <a href="#tab1" class="button big">Order Items</a>
                                    <a href="#tab2" class="button big">Order History</a>
                                </div>
                                
                                <div class="tab-content no-padding">
                                	
                                    <div id="tab1">
									
                                    	<table class="orderinfo-table">
                                
											<tr>
												<th>SKU</th>
												<th>Product name</th>
												<th>Product status</th>
												<th>Price</th>
												<th>Qty</th>
												<th>Tax</th>
												<th>Discount</th>
												<th>Total</th>
											</tr> 
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor sit amet</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Product prices result</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Shippment fee</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Payment fee</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5"><span class="price big">Total</span></td>
												<td><strong>$22.00</strong></td>
												<td><strong>$-32.00</strong></td>
												<td><span class="price big">$920.00</span></td>
											</tr>
											
										</table>
										
                                    </div>
									
									
									<div id="tab2">
									
                                    	<table class="orderinfo-table">
                                
											<tr>
												<th>SKU</th>
												<th>Product name</th>
												<th>Product status</th>
												<th>Price</th>
												<th>Qty</th>
												<th>Tax</th>
												<th>Discount</th>
												<th>Total</th>
											</tr> 
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor sit amet</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td>1241254</td>
												<td>Lorem ipsum dolor</td>
												<td>Confirmed by shipper</td>
												<td>$201.00</td>
												<td>1</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td>$190.00</td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Product prices result</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Shippment fee</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5">Payment fee</td>
												<td>$22.00</td>
												<td>$-32.00</td>
												<td><strong>$190.00</strong></td>
											</tr>
											
											<tr>
												<td class="align-right" colspan="5"><span class="price big">Total</span></td>
												<td><strong>$22.00</strong></td>
												<td><strong>$-32.00</strong></td>
												<td><span class="price big">$920.00</span></td>
											</tr>
											
										</table>
										
                                    </div>
									
								</div>
								
                            
                            </div>
							
                        </div>
                        
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
       