<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="breadcrumbs">
        <p><a href="#">Home</a> <i class="icons icon-right-dir"></i> Order Info</p>
    </div>
</div>

<!-- Main Content -->
<section class="main-content col-lg-9 col-md-9 col-sm-9">


    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Order Information</h4>
                <div class="carousel-arrows">
                    <a href="#"><i class="icons icon-reply"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">


            <h4>Bill to</h4>
            <div class="input-group input-group-lg">

                <label for="inputUseremail" class="sr-only">email</label>
                <h3>enter yor email addres for canfermation</h3>
                <br>
                <input id="inputUseremail" ng-model="em.EmailAdres" class="form-control" placeholder="email addres" name="em" required="true" autofocus="" type="name">
            </div>
            <br>
            <div class="form-group has-feedback">

                <button ng-click="sendEmail(em.EmailAdres)" class="btn btn-lg btn-primary btn-block" type="submit">end order</button>
            </div>



        </div>

    </div>




    <!-- /Main Content -->