<script src="https://checkout.stripe.com/checkout.js">
</script>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="breadcrumbs">
        <p><a href="">{{ category }}</a> <i class="icons icon-right-dir"></i><a href="#/">Home</a> </p>
    </div>
</div>
<!-- Main Content -->
<section class="main-content col-lg-9 col-md-9 col-sm-9" ng-init="">
    
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>תשלום</legend>
                <div class="form-group">

                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                    </div>
                    <label class="col-sm-3 control-label" for="card-holder-name">שם בעל הכרטיס</label>
                </div>
                <div class="form-group">

                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                    </div>
                    <label class="col-sm-3 control-label" for="card-number">מספר כרטיס</label>
                </div>
                <div class="form-group">

                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-xs-3">
                                <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                <option>חודש</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" name="expiry-year">
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
                <option value="26">2026</option>
                <option value="27">2027</option>
                
              </select>
                            </div>
                        </div>
                    </div>
                    <label class="col-sm-3 control-label" for="expiry-month">תוקף הכרטיס</label>
                </div>
                <div class="form-group">

                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                    </div>
                    <label class="col-sm-3 control-label" for="cvv">3 ספרות בגב הכרטיס</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <button type="button" id="customButton" class="btn btn-success">שלם עכשיו!</button>
                    </div>
                </div>
            </fieldset>
        </form>

    <script>
        var handler = StripeCheckout.configure({
        key: 'pk_test_BhOjkKLIAI0WnFdiStLTRHG2',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function (token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
        }
    });

    document.getElementById('customButton').addEventListener('click', function (e) {
        // Open Checkout with further options:
        handler.open({
            name: 'Plastic Tableware',
            description: '2 widgets',
            amount: 2000
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function () {
        handler.close();
    });

    </script>
</section>
