<!--script src="https://checkout.stripe.com/checkout.js">


</script-->

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="breadcrumbs">
        <p><a href="">{{ category }}</a> <i class="icons icon-right-dir"></i><a href="#/">Home</a> </p>
    </div>
</div>
<!-- Main Content -->
<section class="main-content col-lg-9 col-md-9 col-sm-9" ng-init="">
<!--
        <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="business" value="794A8HGCM9P8Y">
        <input type="hidden" name="display" value="1">
        <input type="image" src="https://www.sandbox.paypal.com/he_IL/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>-->


</section>
