<div class="col-lg-12 col-md-12 col-sm-12" ng-init="getProductsOfSubCategory()">
    <div class="breadcrumbs">
        <p><a href="/">עמוד הבית</a> <i class="icons icon-right-dir"></i> {{ category }} <i class="icons icon-right-dir"></i> {{ subCategory }}</p>
    </div>
</div>
<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

    <!-- Featured Products -->
    <div class="products-row row">

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div data-max-items="3" ng-repeat="product in products">

                <!-- Carousel Item -->
                <div class="product col-md-4">

                    <div class="product-image">
                        <img ng-src="img/{{product.quantities[0].image}}" alt="Product1">
                        <div ng-click="setImageModal(product.quantities[0].image)" data-toggle="modal" data-target="#imageModal">
                            <a href="" class="product-hover">
                                <i class="icons icon-eye-1"></i>Quick View
                            </a>
                        </div>
                    </div>

                    <div class="product-info">
                        <h5><a href="#singleProduct/{{product._id}}">{{ product.name }}</a></h5>
                        <span class="price">{{ product.price }} ש"ח</span>
                        <div class="rating readonly-rating" data-score="4"></div>
                    </div>

                    <div class="product-actions">
                        <span class="add-to-cart" ng-click="addToCart(product)">
                        <span class="action-wrapper">
                            <i class="icons icon-basket-2"></i>
                            <span class="action-name">הוסף לסל</span>
                        </span>
                        </span>
                        <span class="add-to-favorites">
                        <span class="action-wrapper">
                            <i class="icons icon-heart-empty"></i>
                            <span class="action-name">Add to wishlist</span>
                        </span>
                        </span>
                        <span class="add-to-compare">
                        <span class="action-wrapper">
                            <i class="icons icon-docs"></i>
                            <span class="action-name">Add to Compare</span>
                        </span>
                        </span>
                    </div>

                </div>
                <!-- /Carousel Item -->

                <!-- /Slide -->
            </div>
        </div>
    </div>
</section>
<!-- Main Content -->

<!-- Modal for delete item -->
<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">{{product.image}}
                <div class="" style="max-width: 100%;">
                    <img id="#modalImage" ng-src="{{image}}" alt="Product1" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="col-lg-12 col-md-12 col-sm-12" ng-init="getProductsOfSubCategory()">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i> {{ category }} <i class="icons icon-right-dir"></i> {{ subCategory }}</p>
                    </div>
                </div>
            <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3" >
                    
                   
                    <div class="products-row row" >  
                        
                   
                        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12" >

                            <div  data-max-items="3" ng-repeat="product in products">

                                      
                                    <div class="product col-md-4"  >
                                            
                                            <div class="product-image">
                                                <img src="img/products/sample1.jpg" alt="Product1">
                                                <div ng-click="setImageModal(product.image)" data-toggle="modal" data-target="#imageModal"><a href=""   class="product-hover" >
                                                    <i class="icons icon-eye-1"></i>Quick View
                                                </a>
                                                </div>
                                            </div>
                                            
                                            <div class="product-info">
                                                <h5><a href="#singleProduct/{{product._id}}">{{ product.name }}</a></h5>
                                                <span class="price">{{ product.price }} ש"ח</span>
                                                <div class="rating readonly-rating" data-score="4"></div>
                                            </div>
                                            
                                            <div class="product-actions">
                                                <span class="add-to-cart">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-basket-2"></i>
                                                        <span class="action-name">
                                    
                                                            </span>

                                                    </span >
                                                </span>
                                             
                                                <span class="add-to-favorites">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-heart-empty"></i>
                                                        <span class="action-name">Add to wishlist</span>
                                                    </span>
                                                </span>
                                                <span class="add-to-compare">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-docs"></i>
                                                        <span class="action-name">Add to Compare</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="product-info">
                                                
                                            <center>        
                                           <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                <input type="hidden" name="cmd" value="_xclick">
                                                <input type="hidden" name="charset" value="utf-8">
                                                <input type="hidden" name="business" value="794A8HGCM9P8Y">
                                                <input type="hidden" name="lc" value="IL">
                                                <input type="hidden" name="item_name" value={{product.name}}>
                                                <input type="hidden" name="amount" value={{product.price}}>
                                                <input type="hidden" name="currency_code" value="ILS">
                                                <input type="hidden" name="button_subtype" value="services">
                                                <input type="hidden" name="no_note" value="0">
                                                <input type="hidden" name="cn" value="Add special instructions to the seller:">
                                                <input type="hidden" name="no_shipping" value="2">
                                                <input type="hidden" name="tax_rate" value="17.000">
                                                <input type="hidden" name="shipping" value="5.00">
                                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
                                                <input type="image" src="https://www.sandbox.paypal.com/he_IL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
                                            
                                            </form>
                                           </center>

                                         
                                              
                                               </div> 
                                            
                                        </div>
                               
                                    </div>
                                </div>
                            </div>
                    </section>
                -->

<!-- Modal for delete item -->
<!--<div class="modal fade" id="imageModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
    <div class="modal-body">
      <div class="container" style="max-width: 100%;">
      <img id="#modalImage" ng-src="{{image}}" alt="Product1" style="width: 100%;">
      </div>
    </div>
    </div>
  </div>
</div>-->