
			<!-- Content -->
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p> עגלת קניות <i class="icons icon-right-dir"></i><a href="#">Home</a> </p>
                    </div>
                </div>
                
				
				<section class="main-content col-lg-9 col-md-9 col-sm-9" ng-controller="cartCtrl">
                    
                  <!--   Main Content 
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>I am already registered</h4>
                            </div>
                            
                            <div class="page-content">
                            	<p>If you are already registered please login directly here</p>
                                <div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="iconic-input">
                                            <input type="text" placeholder="Username">
                                            <i class="icons icon-user-3"></i>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="iconic-input">
                                            <input type="text" placeholder="Password">
                                            <i class="icons icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <input type="checkbox" id="loginremember2"> <label for="loginremember2">Remember me</label>
                                <br/><br/>
                                <div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-6 align-left">
                                    	<input type="submit" class="orange" value="Login">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 align-right">
                                        <small><a href="#">Forgot your password?</a>
                                        <br>
                                        <a href="#">Forgot your username?</a></small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="page-content-footer">
                            	<h4 class="pull-left">NEW CUSTOMER?</h4>
								<a class="button pull-right" href="create_an_account.html">Create an account</a>
                            </div>
                    	</div>
                          
                    </div>
                    
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>Bill to &amp; SHippment information</h4>
                            </div>
                            
                            <div class="page-content">
                            	
                                <div class="row">
                                	
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<p><strong>Bill to</strong></p>
                                        <a class="button grey">Add/edit billing address information</a>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<p><strong>Ship to</strong><br><br>
                                        Only in case shipment address is different from billing address,
click ‹‹ Add/Edit shipment address›› button below </p>
                                        <a class="button grey">Add/edit shipment address</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                    	</div>
                          
                    </div>
                    
                    -->
                    <div class="row">
                    	
						
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
							<div class="carousel-heading">
                                <h4>עגלת קניות</h4>
                            </div>
							
                            <table class="shopping-table">
                            	
                                <tr>
                                	<th colspan="2">שם ותמונת מוצר</th>
                                    <th>מספר קטלוגי</th>
                                    <th>מחיר</th>
                                    <th>כמות</th>
                                    <th>הנחה</th>
                                    <th>סה"כ</th>
                                </tr>
                                
                                <tr ng-repeat="product in products track by $index">
                                    <td class="image-column"><a href="#"><img src="img/products/sample1.jpg" alt=""></a></td>
                                    <td><p><a href="#">{{ product[$index].name }}Lorem ipsum dolor sit amet</a></p></td>
                                    <td><p>PSU26</p></td>
                                    <td><p>$281.00</p></td>
                                    <td class="quantity">
                                    	<input type="text" value="1">
                                        <p>
                                        	<a href="#"><i class="icons icon-ok-3"></i> עדכן</a><br>
                                            <a href="#" class="red-hover"><i class="icons icon-cancel-3"></i> מחק</a>
                                        </p>
                                    </td>
                                    <td><p>$-31.00</p></td>
                                    <td><p>$121.00</p></td>
                                </tr> 
                                
                              
								<tr>
									<td class="align-right" colspan="5">עלות כוללת</td>
									<td>$-31.00</td>
									<td><strong>$358.00</strong></td>	
								</tr>
                                
                            </table>
                            
                        </div>
                        
                    </div>
                    
                    <!--
                    
                    <div class="row">
                    	
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>Please select a shipment method</h4>
                            </div>
                            
                            <div class="page-content">
                            	
                                <div class="row">
                                
                                	<div class="col-lg-12 col-md-12 col-sm-12">
                                    
                                        <p>No shipment selected</p>
                                        <input type="radio" id="shipmentradio1" name="shipment-radio"><label class="radio-label" for="shipmentradio1">Shipment Name 1</label>
                                        <br>
                                        <input type="radio" id="shipmentradio2" name="shipment-radio"><label class="radio-label" for="shipmentradio2">Shipment Name 1</label>
                                        <br><br>
                                        <input class="orange big" type="submit" value="Save">
                                        <input class="big" type="reset" value="Cancel">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            
                    	</div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>Please select a payment method</h4>
                            </div>
                            
                            <div class="page-content">
                            	
                                <div class="row">
                                
                                	<div class="col-lg-12 col-md-12 col-sm-12">
                                    
                                        <p>No payment selected</p>
                                        <input type="radio" id="paymentradio1" name="payment-radio"><label class="radio-label" for="paymentradio1">Payment Name 1</label>
                                        <br>
                                        <input type="radio" id="paymentradio2" name="payment-radio"><label class="radio-label" for="paymentradio2">Payment Name 1</label>
                                        <br><br>
                                        <input class="orange big" type="submit" value="Save">
                                        <input class="big" type="reset" value="Cancel">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            
                    	</div>
                          
                    </div>
                    -->
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        
                        	<div class="checkout-form">
                                <table>
                                    <tr>
                                    	<td class="empty-cell"></td>
                                        <td><span class="price">סך הכל:</span></td>
                                        <td><strong>$22.00</strong></td>
                                        <td><strong>$-11.00</strong></td>
                                        <td><span class="price">$243.00</span></td>
                                    </tr>
                                </table>
                                
                                <p>הערות ובקשות מיוחדות</p>
                                <textarea></textarea>
                                <input type="checkbox" id="termscheckbox"><label for="termscheckbox">לחצו כאן לקריאת תנאי השירות וסמן את התיבה כדי לאשר.</label>
                                <br><br>
                                <form action="/processPayment" method="POST">
                                    <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_BhOjkKLIAI0WnFdiStLTRHG2"
                                        data-amount="99"
                                        data-name="Plastic-Tableware"
                                        data-description="Widget"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                        data-locale="auto">
                                    </script>
                                </form>
                            </div>
                            
                        </div>
                        	
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
                
 