<!-- Content Header (Page header) -->
<section class="content-header">
    <h1> ראשי</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.info-box -->
    <notification-dir ng-model="type">notification</notification-dir>
    
    <div class="col-md-4">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">ספירת מלאי</span>
                <span class="info-box-number">5,200</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
                <span class="progress-description">
                    50% Increase in 30 Days
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        

        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">הודעות </span>
                <span class="info-box-number">163,921</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 40%"></div>
                </div>
                <span class="progress-description">
                    40% Increase in 30 Days
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</section>
<!-- /.content -->
